body{
    background-image: url(replicate-prediction-dpzr2llbddjfpmcbxyyteyzn6e.png);
    background-size:cover;
background-repeat: no-repeat;
background-position: center;
}

.navbar-nav .nav-item a.nav-link:hover {
    color:whitesmoke; /* Change to your desired hover color */
  }
  
  .navbar-toggler-icon {
    background-color: #fff; /* Change to your desired color for the toggler icon */
  }
  

header {
    background-color:transparent;
    color: #ffffff;
    padding: 80px 0;
}

.book-flights-container {
    max-width: 600px;
    margin: auto;
}

.book-flights-heading {
    font-size: 2.5rem;

}

#flightBookingForm {
    max-width: 400px;
    margin: auto;
}

.my-booked-flights {
    margin-top: 50px;
}

.my-flights-heading {
    font-size: 1.8rem;
    margin-bottom: 20px;
}

.list-group-item {
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    margin-bottom: 10px;
}

button.btn-primary {
    background-color: #007bff;
    border: none;
}

button.btn-primary:hover {
    background-color: #0056b3;
}